<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Tenant Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tenant in tenants">
            <td>{{tenant.TenantId}}</td>
            <td>{{tenant.FirstName}}</td>
            <td>{{tenant.LastName}}</td>
            <td>{{tenant.Telephone}}</td>
            <td>{{tenant.Email}}</td>
            <td>
                <a class="btn btn-info" ng-href="#/app/tenant/detail/{{tenant.tenantId}}">
                    Edit
                </a>
                <a class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>